pandas==0.15.1
numpy==1.9.1
sqlalchemy==0.9.7
pysqlite==2.6.0
scipy==0.14.0
matplotlib==1.4.2
scikit-learn==0.15.1
brewer2mpl==1.4.1
munkres==1.0.7
numexpr==2.4
Cython==0.22
tables==3.1.1
h5py==2.3.1
ggplot
-e git+ssh://git@bitbucket.org/hermands/hsqr.git@flow-dev#egg=hsqr
